body{
  text-align: center;
}

.header{
  background-image: url("../images/the-flatiron-building.png");
}

.minibanner{
  background-image: url("../images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

ul{
  list-style-type: none;
}

li a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-family: Helvetica;
  font-size: 14px;
}
